body {
    background-color: rgb(112, 112, 112); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}


#already-eaten-div {
    
}

.burger-title {
    
}
